* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

.content {
    max-width: 1200px;
    margin: 50px auto;
    width: 95%;
    padding: 0 0 50px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color:#1b1b1b;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px #4c4a4a78;
}



.content__title {
    color: #ffffff;
    font-size: 36px;
    text-shadow: 0 0 8px #fce76f; 
}

.content__text {
    color: #ffffff;
    margin: 50px 0 50px 0;
}

.site-list {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    display: flex;
    width: 750px;
}

.site-list__item {
    width: 630px;
    padding: 20px;
    min-height: 450px;
    animation: border 3s linear infinite;
    border-radius: 20px;

}

.site-list__item a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    transition: color 0.9s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.site-list__item a:hover {
    color: rgb(0, 162, 255);
    transform: scale(1.02);
}

.swiper {
    width: 630px;
    height: 100%;
    padding-bottom: 30px !important;
    margin-bottom: 30px !important;
}

.swiper-button-next, .swiper-button-prev {
    top: 60% !important;
    right: 50px !important;
    color: white !important;
}

.swiper-button-prev {
    left: 50px !important;
}

.swiper-pagination-bullet {
    background: #fce76f !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}

.contacts__title,
.fun__title {
    margin: 0 0 25px 0;
    font-size: 24px;
    color: #ffffff;
}

.contacts__list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-item a {
    width: 40px;
    height: 40px;
    display: block
}

.bottom-block {
    display: flex;
    justify-content: center;
    column-gap: 190px;
}

.checkbox {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
}

.checked {
    background-color: teal;
}

.checkboxes {
    display: flex;
    color: #ffffff;
    justify-content: center;
    column-gap: 50px;
}

.checkbox__img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ffffff;
}

.hide {
    display: none;
}

@keyframes border {
    0% {
        border: 1px solid rgba(255,255,255, 0);
    } 25% {
        border: 1px solid rgba(255, 255, 255, 0.5);
    } 50% {
        border: 1px solid rgb(246, 250, 0);
    } 75% {
        border: 1px solid rgba(123, 255, 0, 0.5);
    } 100% {
        border: 1px solid rgba(255,255,255, 0);
    }
}

@media screen and (max-width:880px) {
    .swiper {
        width: 450px;
    }

    .site-list__item {
        width: 450px;
    }

    .site-list__item-img {
        height: 300px;
        object-fit: cover;
    }

    .bottom-block {
        flex-direction: column;
        row-gap: 30px;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 45% !important;
    }
}

@media screen and (max-width: 670px) {
    .swiper {
        width: 310px;
    }

    .site-list__item {
        width: 310px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
}